/* body y fondo */

body{
    margin: 0;
    padding: 0;
    text-align:center;
   font-family: 'Readex Pro', sans-serif;
    letter-spacing: 6px;
    font-size: 4vw;
    color: white;
    background-image: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);
    background-size: 4000%;
    animation: bganimation 15s infinite;
}
@keyframes bganimation {
    0%{
    background-position: 0% 50%;
    }
    50%{
    background-position: 100% 50%;
    }
    100%{
    background-position: 0% 50%;
    }
}
/* prueba menu */
.menu {
    border-radius: 15px;
    max-width: 400px;
    height: 100px;
    position: relative;
    margin: auto;
    background-color: #28978E;
}
.menu-texto{
    text-align:inherit;
    color: white;
    text-decoration: none;
    font-size: 5vw;
}
.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content:center;
}
.menu-horizontal > li:hover {
    border-radius: 50px;
    background-color: rebeccapurple;
}
.menu-vertical {
    position: absolute;
    display: none;
    left: 250px;
    list-style: none;
    width: 300px;
    background-color: rgba (0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical {
    display: block;
}
.menu-vertical li:hover {
    width: 500px;
    background-color: #F00061;
}
.menu-vertical li a{
    justify-content: center;
    display: block;
    color: white;
    text-decoration: none;
    padding: 25px 5px 15px 50px;
}
/* header */

header {
    margin: 0;
    padding: 0;
    
}
.calaca {
    margin: 0px;
    float: inherit;
    width: 150px;
    cursor: pointer;
}
.contacto {
    margin: 40px;
    float: left;
    position: relative;
    color: black;
    cursor: pointer;
}
.catalogo {
    text-decoration: none;
    margin: 40px;
    float: right;
    position: relative;
    color: black;
    cursor: pointer;
}
.cuadrado {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    margin-top: 50px;
    width: 1150px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
}

/* imagenes */ 

.ramen {
    margin-left: 2%;
    width: 600px;
}
.pato {
    margin-right: 2%;
    width: 600px;
}
.imagenes {
    margin-bottom: 50px;
}

/* bienvenida */

.bienvenido {
    margin-bottom: 0px;
    font-size: 75pt;
    margin-top: 50px;
}
.texto1 {
    font-size: 40pt;
    margin: 50px;
    margin-right: 90px;
    margin-left: 100px;
}

/* redes sociales */

.contacto1 {
    background-color: black;
    width: 100%px;
    height: 300px;
}
.icono {
    cursor: pointer;
    margin-left: 0%;
    margin-right: 0%
    float: left;
    margin-top: 0px;
    width: 50px;
}
.pie {
    position:relative;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20pt;
}

/* CONTACTO */
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.contact-wrapper {
    box-shadow: 0 0 70px 0 rgba(10, 700, 255, 10);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
    color: aliceblue;
}

.contact-form form {
    display: grid;
    grid-template-columns: 0fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: .5em;
}
.texto2 {
    font-size: 25pt;
}
.contact-form form .block {
    grid-column: 0 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #28978E;
}
.contact-form form button {
    
}
.boton {
    font-family: 'Readex Pro', sans-serif;
    font-size: 20pt;
}
.contact-form form button {
    cursor: pointer;
    background: #28978E;
    border-radius: 15PX;
    text-transform: uppercase;
    padding: 2.5em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #F00061;
    color: #fff;
    transition: background-color 0.5s ease-out;
    outline: 0;
}
