body{
    margin: 0;
    padding: 0;
    text-align:center;
   font-family: 'Readex Pro', sans-serif;
    letter-spacing: 6px;
    font-size: 4vw;
    color: white;
    background-image: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);
    background-size: 400%;
    animation: bganimation 15s infinite;
}
header {
    margin: 0;
    padding: 0;
    
}
.contacto {
    margin: 40px;
    float: left;
    position: relative;
    color: black;
    cursor: pointer;
}
.catalogo {
    margin: 40px;
    float: right;
    position: relative;
    color: black;
    cursor: pointer;
}
.cuadrado {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    margin-top: 50px;
    width: 1150px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
}
@keyframes bganimation {
    0%{
    background-position: 0% 50%;
    }
    50%{
    background-position: 100% 50%;
    }
    100%{
    background-position: 0% 50%;
    }
}
.ramen {
    margin-left: 2%;
    width: 600px;
}
.pato {
    margin-right: 2%;
    width: 600px;
}
.pie {
    font-size: 20pt;
}
.imagenes {
    margin-bottom: 50px;
}
.bienvenido {
    margin-bottom: 0px;
    font-size: 75pt;
    margin-top: 50px;
}
.texto1 {
    font-size: 40pt;
    margin: 50px;
    margin-right: 90px;
    margin-left: 100px;
}
.contacto1 {
    background-color: black;
    width: 100%px;
    height: 300px;
}
.icono {
    cursor: pointer;
    margin-left: 100px;
    float: left;
    margin-top: 80px;
    width: 50px;
}